{
  "root": true,
  "extends": "@1stg",
  "overrides": [
    {
      "files": [
        ".github/*.yml",
        "syntaxes/*.json"
      ],
      "rules": {
        "unicorn/filename-case": "off"
      }
    }
  ]
}
