{
  "root": true,
  "extends": "@1stg",
  "rules": {
    "no-undef": "off",
    "import/no-unresolved": "off",
    "jsdoc/no-undefined-types": "off"
  },
  "overrides": [
    {
      "files": [
        "syntaxes/*.json"
      ],
      "rules": {
        "unicorn/filename-case": "off"
      }
    }
  ]
}
