name: Version

on:
  push:
    branches:
      - main

jobs:
  version:
    name: Version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - run: npm install
      - uses: changesets/action@v1
        with:
          publish: git push --follow-tags
          commit: 'chore: release vscode-mdx'
          title: 'chore: release vscode-mdx'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
